<h1>Games</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Released</th>
      <th>Studio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= game.released %></td>
        <td><%= game.game_studio.name %></td>
        <%# <td> <%= image_tag("/images/wc3.jpg", :size=> "300x200") %> </td> 
        <td><%= link_to 'Show', game %></td>
      </tr>
      <%# <img src='/images/wc3.jpg'> %>
      <div class="container">
 <div class="gameimages">
   <% @images.each do |image| %>
     <%= image_tag image  %>
   <% end %>
 </div>
</div>

    <% end %>
  </tbody>
</table>

<br>

