<p>
  <strong>Title:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @game.released %>
</p>

<p>
  <strong>Game Studio:</strong>
  <%= @game.game_studio.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @game.game_studio.location %>
</p>

<%= link_to 'New Review', new_game_review_path(:game_id) %>


<%# <td><%= link_to 'Destroy', game_review_path(:game_id, review), method: :delete, data: { confirm: 'Are you sure?' } %>


<%= link_to 'Back', games_path %>
