<p>
  <strong>Title:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @game.released %>
</p>

<p>
  <strong>Game Studio:</strong>
  <%= @game.game_studio.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @game.game_studio.location %>
</p>

<%= link_to 'Back', games_path %>
<%= link_to 'Reviews', game_reviews_path(game_id: @game.id), @reviews %>



