<%= form_with(model: game_studio, local: true) do |form| %>
  <% if game_studio.errors.any? 
    <div id="error_explanation">
      <h2><%= pluralize(game_studio.errors.count, "error") %> prohibited this game_studio from being saved:</h2>

      <ul>
        <% game_studio.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
