<% if user_signed_in? %>

<h1>Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Review</th>
      <th>Raiting<th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.game.name %></td>
        <td><%= review.reviewed_game %></td>
        <td><%= review.rating %></td>
        <%# <%= link_to "New Review", new_game_review_path(:game_id @game.id) %> 
        <td><%= link_to 'Destroy', game_review_path(:game_id, review), method: :delete, data: { confirm: 'Are you sure?' }
        %> </td>
      </tr> 
    <% end %>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', games_path %>

<%# <%= link_to "New Review", new_game_review_path(game_id: @game.id) %> 

<%# <td><%= link_to 'Destroy', game_review_path(:game_id, review), method: :delete, data: { confirm: 'Are you sure?' } %>





